{% extends "home/wrapper.html" %}

{%  block content %}
    <h1>Главная страница</h1>
    <br>
    <label id="lbl-hello-1">Сайт предназначен для удобного ведения дневника трейдера в табличном формате и просмотра статистики.</label>
    <label id="lbl-hello-2">Чтобы воспользоваться функциональностью сайта, войдите или зарегистрируйтесь.</label>
    <br>
    <a href="#" class="btn btn-success btn-lg">Вход</a>
    <a href="#" class="btn btn-primary btn-lg">Регистрация</a>
{#      <p>#}
{#        <a href="/" class="btn btn-success btn-lg">Главная страница</a>#}
{#        <a href="/trades" class="btn btn-primary btn-lg">Журнал трейдов &raquo;</a>#}
{#      </p>#}
{%  endblock %}
