{% extends "home/wrapper.html" %}

{% block content %}
    <h3>Журнал трейдов</h3>
    <br>
    <div class="container-fluid">
        <table class="table table-striped table-bordered" id="tradesTable">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Направление</th>
                    <th>Инструмент</th>
                    <th>Вход</th>
                    <th>Стоп-лосс</th>
                    <th>Тейк №1</th>
                    <th>Тейк №2</th>
                    <th>Тейк №3</th>
                    <th>Средний тейк профит</th>
                    <th>Риск (%)</th>
                    <th>Потеря при стопе</th>
                    <th>R</th>
                    <th>Win/Loss</th>
                    <th>Closed</th>
                    <th>Position size</th>
                    <th>Deposit</th>
                    <th>TV Link</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                </tr>
            <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}